@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-corner {
  background: var(--c-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--c-scrollbar);
  border-radius: 6px;
  border: 2px solid var(--c-bg);
}

@media (max-width: 880px) {
  * {
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

.hidden-scroll {
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.red-gradient {
  background-color: rgb(230, 35, 0);
  background-image: linear-gradient(
    105deg,
    rgb(187, 59, 138) 0%,
    rgb(246, 144, 113) 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
